.carousel {
    margin-left: 160px;
    background-color: #343A40;
    padding: 20px;
    width: 600px;
}
.carousel-inner {
    display: block;
    -webkit-transition: 0.6s ease-in-out left;
    -moz-transition: 0.6s ease-in-out left;
    -o-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
}
