h1 {
    font-family: 'Anaheim', sans-serif;
    font-size: 58px;
    color: white;

}
.jumbotron {
    background-color: #343A40 !important;
    margin-top: 10px;
    width: 1200px;
    height: 200px;    
}
.container {
    background-image: url(../img/cable.png);
    background-size: 100px;
    height: 100px;
    width: 90%;
    margin-top: 10px;
    margin-left: 60px;

}




