.container {
    display: flex;

}
/* Table Settings Audio */
.tbl-loc {
    margin-left: -340px;
    margin-top: 90px;
}
.tbl-sz {
    width: 0px;;
}
/* Table Settings Video */
.video {
    margin-top: 100px;
    font-family: 'Fjalla One', sans-serif;
    color: rgb(0, 153, 255);
    text-decoration: underline;
    font-weight: bold;
    line-height: 180%;
}
/* Font Settings */
.products {
    font-family: 'Fjalla One', sans-serif;
    color: inherit;
    font-weight: bold;
    margin-top: 2%;
}
.audio {
    font-family: 'Fjalla One', sans-serif;
    color: rgb(0, 153, 255);
    text-decoration: underline;
    font-weight: bold;
    line-height: 180%;
}
.space {
    padding-right: 10px;
}
/* Awesome Font */
.fa-fire {
    color: orangered;
    padding: 10px;
}
.fa-hdd {
    color: rgb(93, 40, 136);
    padding: 10px;
}
