.container {
    display: flex;

}
/* Table Settings Audio */
.tbl-loc {
    margin-left: -400px;
    margin-top: 100px;
    
}
.tbl-sz {
    width: 0px;;
}
/* Table Settings Video */
.tbl-loc2 {
    margin-left: -100px;
    margin-top: -12px;

}
.video {
    margin-top: 110px;
    line-height: 130%;
}
/* Font Settings */
.products {
    font-family: 'Fjalla One', sans-serif;
    color: #025CA7;
    margin-top: 2%;
    margin-left: -150px;
    width: 400px;

}
.audio {
    font-family: 'Fjalla One', sans-serif;
    color: rgb(0, 153, 255);
    text-decoration: underline;
    font-weight: bold;
    line-height: 180%;
}
.space {
    padding-right: 10px;
}
/* Awesome Font */
.fa-fire {
    color: orangered;
    padding: 10px;
}
.fa-hdd {
    color: rgb(93, 40, 136);
    padding: 10px;
}
